.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    width: 100%;
    flex-direction: column;
}

.play-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.word {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: var(--light-blue);
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0a96e6;
}

.btn:active {
    transform: scale(0.98);
}

.index {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.errorBtn {
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #dc2626;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.errorBtn:hover {
    background-color: #c72020;
}

.errorBtn:active {
    transform: scale(0.98);
}

.sentence {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0;
}

@media (max-width: 768px) {
    .play-container {
        width: 100%;
    }
}