.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    width: 100%;
    flex-direction: column;
}

.play-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.word {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: var(--light-blue);
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.speakBtn {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background-color: #fff;
    border: 2px solid #0fa7ff;
    color: #0fa7ff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    outline: none;
}

.btn:hover {
    background-color: #0a96e6;
}

.btn:active {
    transform: scale(0.98);
}

.index {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.errorBtn {
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #dc2626;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.errorBtn:hover {
    background-color: #c72020;
}

.errorBtn:active {
    transform: scale(0.98);
}

.sentence {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0;
}

.score-text {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.label {
    font-size: 17px;
    font-weight: 500;
    margin-top: 16px;
    color: #333;
}

.well {
    color: #16a34a;
    font-weight: 600;
    font-size: 17px;
}

.unwell {
    color: #dc2626;
    font-weight: 600;
    font-size: 17px;
}

@media (max-width: 768px) {
    .play-container {
        width: 100%;
    }

    .scoreDiv {
        width: 100%;
        margin-top: 150px;
    }
}

.scoreDiv {
    width: 100%;
}

.childrenScore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    padding: 0 15px;
}

.listen {
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 15px;
    background-color: #0fa7ff;
    color: #fff;
    border-radius: 8px;
}
